{% extends "::layout.html.twig" %}

{% block body %}

    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    <h1>Annonces</h1>

    <hr>

    <h1>test</h1>

    {% block nav-bar %}
    {% endblock %}

{% endblock %}