<footer class="bg-primary bloc_footer" id="partenaires">
    <div class="container">
        <div class="row">
            <div class="bloc_footer_partenaires col-xs-6 col-sm-4 text-center">
                <a href="http://www.le36boulevard.fr/">
                    <img src="{{ asset('/template/img/36boulevard2.png') }}" alt="36 boulevard">
                </a>
            </div>

            <div class="bloc_footer_partenaires col-xs-6 col-sm-4 text-center">
                <img src="{{ asset('/template/img/samsic2.jpg') }}" alt="Samsic">
            </div>
            <div class="bloc_footer_partenaires col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4">
                <Strong>Charlotte Fournel - Ostéopathe</Strong>
                <p class="small">24 Boulevard Laennec</br>35000 Rennes</p>
            </div>
        </div>
    </div>
</footer>