<header id="accueil">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading" class="titre_header contour">David Huet</h1>
            <!--<img src="{{ asset('/template/img/test_hr_white2.png') }}">-->
            <h2 id="coachH2" class="coachSportifText contour">Coach Sportif</h2>
        </div>
    </div>
</header>