<header id="accueil">
    <div class="header-content">
        <div class="header-content-inner">
            <img src="{{ asset('/template/img/david.png') }}">
            <h1 id="homeHeading">David Huet</h1>
            <img src="{{ asset('/template/img/test_hr_orange.png') }}">
            <p>Coach Sportif</p>
            <a href="#Prestations" class="btn btn-primary btn-xl page-scroll">Mes Prestations</a>
        </div>
    </div>
</header>