<section class="bg-primary" id="presentation">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A propos de moi</h2>
                <img src="{{ asset('/template/img/test_hr_white2.png') }}">
                <p class="text-faded">Coach sportif sur rennes</p>
            </div>
        </div>
    </div>
</section>