<section id="prestations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center bloc_titre_prestations">
                <h1 class="section-heading">Mes Prestations</h1>
                <img src="{{ asset('/template/img/test_hr_orange.png') }}">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Perte de poids</h3>
                    <p class="text-muted">Brûler les graisses et avoir une alimentation adaptée sont les clés pour atteindre le poids et la silhouette souhaitée.
                        Course à pieds, vélo, elliptique et autres appareils cardio-vasculaire couplés à des exercices appropriés vous aideront à atteindre cet objectif.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>Renforcement musculaire</h3>
                    <p class="text-muted">Il vous permettra grâce à différents exercices de travailler des zones précises du corps.
                        Cette activité peut se dérouler en salle ou à votre domicile, car elle nécessite très peu de matériels, voir aucun.
                        Manque de fermeté, de tonicité musculaire, ou bien des problèmes de dos, c'est ce qu'il vous faut !</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>Musculation</h3>
                    <p class="text-muted">A moins d'être équipé chez soi, la musculation se pratique en salle. Pour les débutants, les conseils d'un coach sont indispensable pour exercer les mouvements en toute sécurité.
                        Prise de masse musculaire, de force, de puissance</p>
                </div>
            </div>
        </div>
    </div>
</section>