<div class="bg-primary" id="presentation">

    <div class="col-lg-3 col-md-8 col-sm-12 bigDavid">
    	<img src="{{ asset('template/img/david.png') }}" class="img-responsive">
    </div>
    <!--<div class="row ">
	    <div class="text-center presentationText leTitle">
            <h2 class="section-heading">A propos de moi</h2>
            <img src="{{ asset('/template/img/test_hr_white2.png') }}">
	    </div>
        <div class="">
            <div class=" presentationText truc">
                <p class="section-heading text-center">Je suis coach sportif à domicile et en entreprise depuis plus de 10 ans sur la région rennaise.
Diplomé d'état, passionné par ce que je fais, j'évolue jour après jour auprès de vous pour fixer et atteindre les objectifs que nous
mettons en place. Plus qu'un planning, c'est un véritable accompagnement que j'assure, en terme de suivi et de conseils.</p>

            <h3 class="section-heading text-center">Je suis diplomé d'état des métiers de la forme au C.R.E.P.S de Dinard</h3>
            </div>
        </div>
    </div>-->
</div>