<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-4 col-xs-12">
                <a href="" class="portfolio-box" data-toggle="modal" data-target="#modal_domicile">
                    <img src="{{ asset('template/img/presentation/test5.jpg') }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Coach à domicile
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="" class="portfolio-box" data-toggle="modal" data-target="#modal_salle">
                    <img src="{{ asset('template/img/presentation/test1.jpg') }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Coach en salle
                            </div>
                            <div class="project-category project-text-faded">
                                Au 36 BOULEVARD
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="" class="portfolio-box" data-toggle="modal" data-target="#modal_entreprise">
                    <img src="{{ asset('template/img/presentation/test3.jpg') }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Coach en entreprise
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>





    <!-- Modal à domicile-->
    <div class="modal fade bs-example-modal-lg" id="modal_domicile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title text-center" id="myModalLabel">Coach sportif à domicile</h1>
                </div>
                <div class="modal-body">

                    <div class="intro_modal">
                        <h2 class="titre_h2_modal">Pourquoi faire appel à un coach sportif à domicile ?</h2>
                        <p class=" text-justify">Faire appel à un coach sportif à domicile c'est opter pour un accompagnement professionnel et efficace, dans un climat de confiance et de bonne humeur et tout ça chez vous.</p>
                    </div>
                    <div class="contenu_modal">
                        <p>Que votre objectif soit :</p>
                        <ul>
                            <li>Perdre du poids</li>
                            <li>Prendre de la masse musculaire</li>
                            <li>Redessiner votre corps</li>
                            <li>Retrouver la ligne après votre grossesse</li>
                        </ul>
                        <p class=" text-justify">Dans un premier temps j'effectue un bilan de forme dans lequel nous ferons le point sur votre projet sportif et corporel ainsi que sur votre pratique sportive du moment.
                            Nous déterminerons ensemble le programme en terme de contenus de séances, de suivi alimentaire et d'emploi du temps.
                            Dès lors, je serai en mesure de personnaliser et d'optimiser votre programme et nos séances en fonction de vos caractéristiques sportives et motivationnelles.
                        </p>
                    </div>
                    <div class="fin_modal">
                        <p class=" text-justify">Je bénéficie de <strong>l'Agrément Service à la personne</strong> ce qui vous permet de profiter d'une <strong>réduction fiscale de 50%</strong> sur le prix de vos cours.</p>
                        <ul>
                            <li><strong>50% de Réduction d'impôts</strong> sur les heures de cours à domicile si vous êtes imposable.</li>
                            <li><strong>50% de Crédit d'impôts</strong> sur les heures de cours à domicile si vous êtes non imposable.</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal en salle -->
    <div class="modal fade bs-example-modal-lg" id="modal_salle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title text-center" id="myModalLabel">Coach sportif en salle</h1>
                </div>
                <div class="modal-body">
                    <div class="intro_modal">
                        <p class=" text-justify">Se rendre dans une salle de remise en forme c'est bien, mais encore faut-il savoir quoi y faire et comment. Un exercice mal réalisé avec un mauvais placement pourrait amener à une blessure.</p>
                    </div>
                    <div class="contenu_modal">
                        <p class=" text-justify">adhérent ou non au <strong>36 boulevard</strong>, vous bénéficiez en ma présence, des nombreux appareils cardio et des machines de musculation pour</p>
                        <ul>
                            <li>travailler sur la perte de poids</li>
                            <li>améliorer votre condition physique</li>
                            <li>développer ou tonifier votre musculature</li>
                        </ul>
                    </div>
                    <div class="fin_modal">
                        <p>N'hésitez plus, prenez un coach !
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal en entreprise -->
    <div class="modal fade bs-example-modal-lg" id="modal_entreprise" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title text-center" id="myModalLabel">Coach sportif en entreprise</h1>
                </div>
                <div class="modal-body">
                    <div class="intro_modal">
                        <p class=" text-justify">Mon expérience en entreprise date de 2010. Aujourd'hui je travaille pour une société et les résultats sont là.
                            Le sport rassemble et permet aux salariés de se côtoyer hors-travail.
                            De plus, les séances de coaching sportif en entreprise favorisent une bonne entente et un meilleur rendement des salariés.</p>
                    </div>
                    <div class="contenu_modal">
                        <p class=" text-justify">Les différents services proposés sont :</p>
                        <ul>
                            <li>Remise en forme générale (cardio-training et renforcement musculaire).</li>
                            <li>Encadrement d'un événement sportif dans votre entreprise (olympiades, journée sportive, ...).</li>
                            <li>Coach sportif personnel, si votre entreprise est dotée d'une salle de sport</li>
                        </ul>
                    </div>
                    <div class="fin_modal">
                        <p class=" text-justify">Si vous souhaitez discuter d'un projet, n'hésitez pas à <a href="#contact"  data-dismiss="modal">me contacter</a> !
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
                </div>
            </div>
        </div>
    </div>
</section>