<section class="bg-primary" id="tarifs">
    <div class="container text-center">
        <div class="call-to-action">
            <div class="tarifHeader">
                <div>
                    <h1>Tarifs</h1>
                </div>
                <div class="component">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre de séances</th>
                                <th>Taux horaire TTC</th>
                                <th>après déduction</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>≤5</th>
                                <td>60,00€</td>
                                <td>30,00€</td>
                            </tr>
                            <tr>
                                <th>10</th>
                                <td>55,00€</td>
                                <td>27,50€</td>
                            </tr>
                            <tr>
                                <th>20</th>
                                <td>50,00€</td>
                                <td>25,00€</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <h3 class="tarifBenefit">Vous pouvez bénéficier d'une réduction fiscale de 50% sur le prix de votre COACHING A DOMICILE !</h3>

                </div>
            </div>
        </div>
    </div>
</section>