<aside class="bg-primary" id="tarifs">
    <div class="container text-center">
        <div class="call-to-action">
            <div class="tarifHeader">
            <div>
                <h1>Tarifs <span class="tarifHeaderSpan">1 séance = 1 heure</span></h1>
            </div>
            <div class="component">


                <table class="">
                    <thead> 
                        <tr>
                            <th>Nombre de séance</th><th>Taux horaire TTC</th><th>Total TTC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><= 5 Séances</th><td class="tarifAncre">60,00€</td><td  class="tarifAncre">300€</td>
                        </tr><tr>
                            <th>10 Séances</th><td  class="tarifAncre">55,00€</td><td  class="tarifAncre">550€ (50€ de réduction)</td>
                        </tr><tr>
                            <th>20 Séances</th><td class="tarifAncre">50,00€</td><td class="tarifAncre">1000€(200€ de réduction)</td>
                        </tr><tr>
                            
                    </tbody>
                </table>

                <h1><a class="cd-popup-trigger tarifBenefit">Vous pouvez bénéficier d'une réduction fiscale de 50% sur le prix de vos cours !</a></h1>

        </div><!-- /container -->
            <a href="" class="btn btn-default btn-xl sr-button">Télécharger ici !</a>
<div class="cd-popup" role="alert">
    <div class="cd-popup-container">

            <div class="component">
        <table class="popuptable">
                    <thead> 
                        <tr>
                            <th>Nombre de séance</th><th>Taux horaire TTC</th><th>Total TTC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><= 5 Séances</th><td class="tarifAncre" id="toto">30,00€</td><td  class="tarifAncre">150€</td>
                        </tr><tr>
                            <th>10 Séances</th><td  class="tarifAncre">27,50€</td><td  class="tarifAncre">275€ (50€ de réduction)</td>
                        </tr><tr>
                            <th>20 Séances</th><td class="tarifAncre">25,00€</td><td class="tarifAncre">500€(200€ de réduction)</td>
                        </tr><tr>
                    </tr>
                    </tbody>
                </table>
        </div>
        <a href="#0" class="cd-popup-close""></a>
    </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->
</div>
        </div>
    </div>
</aside>