<aside class="bg-primary" id="tarifs">
    <div class="container text-center">
        <div class="call-to-action">
            <div class="tarifHeader">
            <div>
                <h1>Tarifs <span class="tarifHeaderSpan">1 séance = 1 heure</span></h1>
            </div>
            <div class="component">


                <table class="">
                    <thead> 
                        <tr>
                            <th>Nombre de séance</th><th>Taux horaire TTC</th><th>Total TTC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><= 5 Séances</th><td><a href="#0" class="cd-popup-trigger tarifAncre">60,00€</a></td><td><a href="#0" class="cd-popup-trigger tarifAncre">300€</a></td>
                        </tr><tr>
                            <th>10 Séances</th><td><a href="#0" class="cd-popup-trigger tarifAncre">55,00€</a></td><td><a href="#0" class="cd-popup-trigger tarifAncre">550€ (50€ de réduction)</a></td>
                        </tr><tr>
                            <th>20 Séances</th><td><a href="#0" class="cd-popup-trigger tarifAncre">50,00€</a></td><td><a href="#0" class="cd-popup-trigger tarifAncre">1000€(200€ de réduction)</a></td>
                        </tr><tr>
                            
                    </tbody>
                </table>

        </div><!-- /container -->
            <a href="" class="btn btn-default btn-xl sr-button">Télécharger ici !</a>
<div class="cd-popup" role="alert">
    <div class="cd-popup-container">
        <p >Le coaching à domicile propose des avantages fiscaux !</p>
        <a href="#0" class="cd-buttons">Ok</a>
        <a href="#0" class="cd-popup-close img-replace">Close</a>
    </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->
</div>
        </div>
    </div>
</aside>