<aside class="bg-primary" id="tarifs">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Tarifs</h2>
            <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Télécharger</a>
        </div>
    </div>
</aside>