<aside class="bg-primary" id="tarifs">
    <div class="container text-center">
        <div class="call-to-action">
            <div class="tarifHeader">
            <div>
                <h1>Tarifs <span class="tarifHeaderSpan">1 séance = 1 heure</span></h1>
            </div>
            <div class="component">

                <div id="table" class="col-lg-12 col-md-12 col-sm-12">
                    <div id="col1" class="col-lg-4 col-sm-6">
                        <div class="col1">Nombre de séance</div>
                        <div class="col1">≤ 5</div>
                        <div class="col1">10</div>
                        <div class="col1">20</div>
                    </div>
                    <div id="col2" class="col-lg-4 col-sm-6">
                        <div class="headers">Taux horaire TTC</div>
                        <div class="tete">60,00€</div>
                        <div class="tete">55,00€</div>
                        <div class="tete">50,00€</div>
                    </div>
                    <div id="col3" class="col-lg-4  col-sm-6">
                        <div  class="headers">Taux horaire après déduction</div>
                        <div class="tete">30,00€</div>
                        <div class="tete">27,50€</div>
                        <div class="tete">25,00€</div>
                    </div>
                </div>
              <!--  <table class="">
                    <thead> 
                        <tr>
                            <th>Nombre de séance</th><th>Taux horaire TTC</th><th class="thtest">Taux horaire après déduction</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>≤ 5</th><td class="tarifAncre">60,00€</td><td class="tarifAncre">30.00€</td>
                        </tr><tr>
                            <th>10</th><td  class="tarifAncre">55,00€</td><td class="tarifAncre">27.50€</td>
                        </tr><tr>
                            <th>20</th><td class="tarifAncre">50,00€</td><td class="tarifAncre">25.00€</td>
                        </tr><tr>
                            
                    </tbody>
                </table>-->

                <h1 class="tarifBenefit">Vous pouvez bénéficier d'une réduction fiscale de 50% sur le prix de vos cours !</h1>

        </div><!-- /container -->
            <a href="" class="btn btn-default btn-xl sr-button">Télécharger ici !</a>
</div>
        </div>
    </div>
</aside>